body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;

}


/*Debut style footer*/

footer {
    background-color: #516743;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footerinfo li{
    padding: 5px 0;
}

.footer {
    display: flex;
    flex-direction: row;
    color: #fcfcfc;
    padding: 10px;
    font-size: xx-large;
}


footer ul {
    padding: 10px;


}

footer li {
    list-style: none;
    padding-right: 30px;
    color: #fcfcfc;
}

footer a {
    text-decoration: none;
    color: #fcfcfc;
    text-align: center;

}

.footer {
    display: flex;
    flex-wrap: wrap;
    color: #fcfcfc;
    font-size: xx-small;
}

.footer img {
    filter: invert(100%);
    font-size: xx-small;
    width: 35px;
    margin: 5px;
}


.copyright {
    text-align: justify, center;
    font-size: xx-small;
    word-wrap: break-word;
    color: #fcfcfc;
    padding: 1em;
}
/*Fin design footer*/

/*Debut style barre nav*/

.headerNav {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #516743;
    color: white;
    z-index: 1;
    min-height: 35px;
    font-size: 1.1rem;
}
.headerNav img{
    filter: invert(98%);
    padding-left: 15px;
}

.headerNav ul {
    display: flex;
    margin: 0 5px;
}

.headerNav ul li {
    list-style: none;
    padding: 10px;
}


/*fin style barre nav*/


/*Debut style dynamique menu burger*/
.burger{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    transition: all 0.5s ease-in-out;
}

.burgerButtonLign {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50px;
    height: 8px;
    border-radius: 6px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    /*permet de rentre progressif la disparition de la barre centrale*/
}

.burgerButtonLign::before, 
.burgerButtonLign::after  {
    content:"";
    position: absolute;
    width: 50px;
    height: 8px;
    border-radius: 6px;
    background-color: white;
    transition: all 0.3s ease-in-out;
/*Permet de voir le déplacement des span avec le rotateZ*/
}

.burger div::before{
    transform: translateY(-15px);
}

.burger div::after{
    transform: translateY(15px);
}

.burger.active div::before{
    transform: rotate(45deg) translate(35px, -35px) ;
}

.burger.active div::after{
    transform: rotate(-45deg) translate(35px, 35px) ;
}

.burger.active div {
    background-color: transparent;
    /*l'ajout de transparent sur backgroune ne retire maintenant que la barre centrale*/
    transform: translateX(-50px);
}
/*Fin style dynamique menu burger*/


/*Debut positionnement et style t Overley*/
#burgerOverlay{
    display: none;
    position : fixed;
    z-index: 10;
    top:0;
    right:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/*Fin positionnement et style t Overley*/


/*Debut positionnement et style Sidebar*/

#burgerSideBar{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100%;
    width: 75%;
    max-width: 350px;
    background-color: #516743;
    background: linear-gradient(#516743, 95%, #9fc08b);

    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}
#burgerSideBar ul{
    display: block;

}
#burgerSideBar-Header{
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/banniere_sidebar2.jpg");
}
#burgerSideBar-body li{
    padding: 8px 0 8px 5px;
}
#burgerSideBar-body{
    padding: 10px 5px;
    font-size: 1.6em;
}

/*Fin  positionnement et style Sidebar*/



/*debut style link*/

.headerNav ul li a {
    text-decoration: none;
    color: white;
}


/*fin style link*/


.mainTitle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    background-image: url(../img/squirrel_dedimensionner.jpg);
    background-position: bottom;
    background-size: cover;
    font-size: 1em;
    min-height: 250px;
}

.mainTitle h1 {
    background-color: rgba(0, 0, 0, 0.5);
}


.visuelFondBanniere{
    display: grid;
    padding: 20px;
    grid-gap:20px;
    grid-template-columns:1fr;
    grid-row: repeat(5, 200px);
}

.maison, .alimentation, .quisuisje, .adoptemoi{
    justify-self: center;
    border-radius: 30px;
    box-shadow: gray 5px 5px 6px;
} 

.banniere{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 1.3em;
    background-position: center;
    background-size: cover;
    min-height: 250px;
    width: 100%;
    max-width: 580px;
    min-width: 300px;
}

.banniere h2{
    background-color: rgba(0, 0, 0, 0.6);
}

.maison{
    background-image: url("../img/tree-3152596_1920.jpg");
}

.alimentation {
    background-image: url("../img/animal-927904_1920.jpg");
}

.quisuisje {
    background-image: url("../img/squirrel-5603496_1920.jpg");
}

.adoptemoi{
    background-image: url("img/geran-de-klerk-bKhETeDV1WM-unsplash(1).jpg");
}


/*Debut style slideshow*/

#slideshow {
    display: none;
}

#slideshow {
    position: relative;
    width: 640px;
    height: 310px;
    padding: 15px;
    margin: 0 auto 2em;
    border: 1px solid #ddd;
    background: #FFF;
    /* CSS3 effects */
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* avanced box-shadow
 * tutorial @
 * https://www.creativejuiz.fr/blog/les-tutoriels/ombre-avancees-avec-css3-et-box-shadow 
*/
#slideshow:before,
#slideshow:after {
    position: absolute;
    bottom: 16px;
    z-index: -10;
    width: 50%;
    height: 20px;
    content: " ";
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 20px 10px rgba(0, 0, 0, 0.7);
}

#slideshow:before {
    left: 0;
    transform: rotate(-4deg);
}

#slideshow:after {
    right: 0;
    transform: rotate(4deg);
}

/* gestion des dimensions et débordement du conteneur */
#slideshow .container {
    position: relative;
    width: 640px;
    height: 310px;
    overflow: hidden;
}

/* on prévoit un petit espace gris pour la timeline */
#slideshow .container:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 1px;
    background: #999;
}

/* 
le conteneur des slides
en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 600%;
    height: 310px;
}

/* annulation des marges sur figure */
#slideshow figure {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}

/* petit effet de vignette sur les images */
#slideshow figure:after {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.5) inset;
}

/* styles de nos légendes */
#slideshow figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    padding: 20px;
    margin: 0;
    border-top: 1px solid rgb(225, 225, 225);
    text-align: center;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-family: Georgia, Times, serif;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    color: #555;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3);
}

/* fonction d'animation, n'oubliez pas de prefixer ! */

@keyframes slider {

    0%, 11%, 100%	{ left: 0 }
	17%, 23%		{ left: -100% }
	28%, 35%		{ left: -200% }
	40%, 47%		{ left: -300% }
	52%, 59%		{ left: -400% }
	64%, 80%		{ left: -500% }
	
}

/* complétez le sélecteur : */
#slideshow .slider {
    /* ... avec la propriété animation */
    animation: slider 32s infinite;
}

#timeline {
    position: absolute;
    background: #999;
    bottom: 15px;
    left: 15px;
    height: 1px;
    background: rgb(214, 98, 13);
    background: rgba(214, 98, 13, .8);
    width: 0;
    /* fonction d'animation */
    animation: timeliner 32s infinite;
}

@keyframes timeliner {

    0%,
    25%,
    50%,
    75%,
    100% {
        width: 0;
    }

    20%,
    45%,
    70%,
    90% {
        width: 640px;
    }
}

@keyframes figcaptionner {

    0%,
    25%,
    50%,
    75%,
    100% {
        bottom: -55px;
    }

    5%,
    20%,
    30%,
    45%,
    55%,
    70%,
    80%,
    95% {
        bottom: 5px;
    }
}

/* ajouter à l'élément : */
#slideshow figcaption {
    /* ... la propriété animation */
    animation: figcaptionner 32s infinite;
}
/* fin du slideshow*/







@media screen and (max-width:1023px){
    .menuNav{
        display: none;
    }
    
    .burgerButtonLign, #burgerSideBar,
     .burgerActivated #burgerOverlay{
        display: block;
    }

    .burgerActivated #burgerSideBar{
        transform: translateX(0);
    }
    
}

@media screen and (min-width:1024px){
    .burger{
        display: none;
    }

    #slideshow {
        display: block;
        margin-top: 40px;
    }
    /*Police headerNav*/
    .headerNav{
        font-size: 1.5em;
    }
    /*Police headerNav*/
    
    .mainTitle h1 {
        font-size: xx-large;
    }
    .visuelFondBanniere{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    
    .maison, .alimentation, .quisuisje, .adoptemoi{
        border-radius: 30px;
        box-shadow: gray 5px 5px 6px;
    } 
    
    .banniere{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: white;
        font-size: 1.3em;
        background-position: center;
        background-size: cover;
        min-height: 250px;
        width: 25vw;
        margin-top: 20px;
    }

}