body {

    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}


/* Debut de mise en page en tete et navbar*/
header {
    background-color: #516743;
    display: flex;
    justify-content: space-between;

}

header ul {
    display: flex;
}

nav {
    display: flex;
    list-style: none;
    flex-direction: row-reverse;

}

/*fin de mise en page*/


a {
    text-decoration: none;
    color: #fcfcfc;
}

/* Photo de couverture avec titre*/


#Titreindex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfcfc;
    
    background-image: url(../img/johan-severino-pMbGBhhqSj4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;
    
}
#Titreindex h1 {
    background-color: rgba(0, 0, 0, 0.4);
}
    /*Fin de Photo de couverture et titre*/



/*Photo liens vers articles et animations vignettes*/
.vignette {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vignette section {
    margin: 2em;
    width: 230px;
    border: 2px groove;

}

.vignette section h2 {
    text-align: center;
}

.maison {
    display: flex;
    flex-direction: column;
    color: #806221;
    margin-bottom: 20px;
    margin-top: 20px;

}

/* Debut animation */
.maison:hover {
    padding: 20px;
    transition: 0.6s;
}

.alimentation:hover {
    padding: 20px;
    transition: 0.6s;
}

.quisuisje:hover {
    padding: 20px;
    transition: 0.6s;
}

/* Debut animation Fin*/

.alimentation {
    display: flex;
    flex-direction: column;
    color: #806221;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.quisuisje {
    display: flex;
    flex-direction: column;
    color: #806221;
    margin-bottom: 20px;
    margin-top: 20px;
}

.adoptemoi {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #806221;
    margin-bottom: 20px;
    margin-top: 20px;

}

/*Fin de la partie Articles*/


#slider {
    width: 40%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
    }

#slider figure img {
    width: 20%;
    float: left;

}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

/*Bas de page avec la mise en page du footer*/
footer {
    background-color: #516743;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
ul{
    padding: 10px;
    text-align: center;
    font-size: small;
}

li {
    list-style: none;
    padding-right: 30px;

}

.footer {
    display: flex;
    flex-direction: row;
    color: #fcfcfc;
    padding: 10px;
    font-size: larger;
}
.copyright{
    text-align: justify, center;
    font-size: xx-small;
    word-wrap: break-word;
    color: #fcfcfc;
}




/*Fin de bas de page du footer*/


@media screen and (min-width: 768px) {

   #Titreindex {
       align-items: flex-end;
       font-size: x-large;
       background-position-y: -300px;
       height: 250px;
   }
    
    
    nav{
        display: flex;
        justify-content: space-around;
 }

    .vignette {
        flex-direction:row-reverse;
        justify-content: space-between;
        
    }
    .vignette section {
        margin: 2em;
        width: 230px;
        border: 2px groove;
        flex-direction: column-reverse;
    
    }
    
    
    #slider {
        width: 40%;
        max-width: 200px;
        overflow: hidden;
        margin: auto;
        
    }
    .footer {
        display: flex;
        flex-direction: row;
        color: #fcfcfc;
        padding: 30px;
        font-size: xx-large;
    }
}