body, html{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #516743;
    color: white;
    min-height: 35px;

    font-size: 1.1rem;
}
.headerNav img{
    filter: invert(98%);
    padding-left: 15px;
}

.headerNav ul {
    display: flex;
    margin: 0 5px;
}

.headerNav ul li {
    list-style: none;
    padding: 10px;
}

/*fin style barre nav*/


/*Debut style dynamique menu burger*/
.burger{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    transition: all 0.5s ease-in-out;
}

.burgerButtonLign {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50px;
    height: 8px;
    border-radius: 6px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    /*permet de rentre progressif la disparition de la barre centrale*/
}

.burgerButtonLign::before, 
.burgerButtonLign::after  {
    content:"";
    position: absolute;
    width: 50px;
    height: 8px;
    border-radius: 6px;
    background-color: white;
    transition: all 0.3s ease-in-out;
/*Permet de voir le déplacement des span avec le rotateZ*/
}

.burger div::before{
    transform: translateY(-15px);
}

.burger div::after{
    transform: translateY(15px);
}

.burger.active div::before{
    transform: rotate(45deg) translate(35px, -35px) ;
}

.burger.active div::after{
    transform: rotate(-45deg) translate(35px, 35px) ;
}

.burger.active div {
    background-color: transparent;
    /*l'ajout de transparent sur backgroune ne retire maintenant que la barre centrale*/
    transform: translateX(-50px);
}
/*Fin style dynamique menu burger*/


/*Debut positionnement et style t Overley*/
#burgerOverlay{
    display: none;
    position : fixed;
    z-index: 10;
    top:0;
    right:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/*Fin positionnement et style t Overley*/


/*Debut positionnement et style Sidebar*/

#burgerSideBar{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100%;
    width: 75%;
    max-width: 350px;
    background-color: #516743;
    background: linear-gradient(#516743, 95%, #9fc08b);

    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}
#burgerSideBar ul{
    display: block;

}
#burgerSideBar-Header{
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/banniere_sidebar2.jpg");
}
#burgerSideBar-body li{
    padding: 8px 0 8px 5px;
    
}
#burgerSideBar-body{
    padding: 10px 5px;
    font-size: 1.6em;
    display: block;

}

.headerNav ul li a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 18px;
    padding: 2em;
}

#titreArticle {
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-image: url("../img/habitat.jpg");
    height: 500px;
    padding-left: 2em;
    padding-right: 2em;

}

h1 {
    color: white;
    font-size: 36px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width:100%;

}
h2 {
    color: #806221;
    padding-left: 2em;
    padding-right: 2em;

}

.photo {
    width: 300px;
}
.photo:hover{
	width:320px;
}

.container {
    display: block;
    text-align: center;
    overflow: hidden;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #516743;
    color: white;
    height: 50px;
}

.footerInfo a {
    text-decoration: none;
    color: white;
}

.footerInfo ul {
    display: flex;
    list-style: none;
    padding: 0 5px;

}

.footerInfo ul li {
    padding: 0 15px;
}


@media screen and (max-width:1023px){
    .menuNav{
        display: none;
    }
    
    .burgerButtonLign, #burgerSideBar,
     .burgerActivated #burgerOverlay{
        display: block;
    }

    .burgerActivated #burgerSideBar{
        transform: translateX(0);
    }
    
    #titreArticle {
        height: 300px;
    }


}

@media screen and (min-width:1024px){
    .burger{
        display: none;
    }
    /*Police headerNav*/
    .headerNav{
        font-size: 1.5em;
    }
    /*Police headerNav*/

    h1{
    font-size: 80px;

    }

    h2 {
        font-size: 2em;
    }

}