body, html{
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}


/*Debut police homogene mobile*/
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}

p {
    font-size: 18px;
}
/*Debut police homogene mobile*/

/*lien a dans la page*/

footer a {
    text-decoration: none;
    color: #fcfcfc;
    background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    background-size: O 100%;
    transition: background-size .5s;
  }

footer a:hover {
    background-size: 100% 100%;
  }

footer a:visited {
   color: white;
}



.menuNav a {
    text-decoration: none;
    background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    background-size: O 100%;
    transition: background-size .5s;
  }

.menuNav a:hover {
    background-size: 100% 100%;
  }

.menuNav a:visited {

     color: white;
  }

  footer a:visited {

    color: white;
 }

 footer a:hover {
    background-size: 100% 100%;
  }


  /* Liens généraux : ça s'affiche sur le logo aussi est-ce que c'est gênant ?*/
 
  /* Fin liens généraux*/

  /*Liens footer*/
footer a {
    text-decoration: none;
    background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    background-size: O 100%;
    transition: background-size .5s;
  }


body:hover, a:hover{
    cursor: url("../img/logo/icons8-noix-25.png"), pointer;
}



.ici {
    text-decoration-color : white;
    text-decoration-style : double;
    text-decoration-line : underline;
}

header a {
    text-decoration: white;
    color: white;
}

/*lien a dans la page*/
/*Debut style footer*/

footer {
    background-color: #516743;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footerinfo li{
    padding: 5px 0;
}

.footer {
    display: flex;
    flex-direction: row;
    color: #fcfcfc;
    padding: 10px;
    font-size: xx-large;
}


footer ul {
    padding: 10px;


}

footer li {
    list-style: none;
    padding-right: 30px;
    color: #fcfcfc;
}

footer a {
    text-decoration: none;
    color: #fcfcfc;
    text-align: center;

}

.footer {
    display: flex;
    flex-wrap: wrap;
    color: #fcfcfc;
    font-size: xx-small;
}

.footer img {
    filter: invert(100%);
    font-size: xx-small;
    width: 35px;
    margin: 5px;
}


.copyright {
    text-align: justify, center;
    font-size: xx-small;
    word-wrap: break-word;
    color: #fcfcfc;
    padding: 1em;
}
/*Fin design footer*/


.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #516743;
    color: white;
    min-height: 35px;

    font-size: 1.1rem;
}
.headerNav img{
    filter: invert(98%);
    padding-left: 15px;
}

.headerNav ul {
    display: flex;
    margin: 0 5px;
}

.headerNav ul li {
    list-style: none;
    padding: 10px;
}

/*fin style barre nav*/


/*Debut style dynamique menu burger*/
.burger{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    transition: all 0.5s ease-in-out;
}

.burgerButtonLign {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50px;
    height: 8px;
    border-radius: 6px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    /*permet de rentre progressif la disparition de la barre centrale*/
}

.burgerButtonLign::before, 
.burgerButtonLign::after  {
    content:"";
    position: absolute;
    width: 50px;
    height: 8px;
    border-radius: 6px;
    background-color: white;
    transition: all 0.3s ease-in-out;
/*Permet de voir le déplacement des span avec le rotateZ*/
}

.burger div::before{
    transform: translateY(-15px);
}

.burger div::after{
    transform: translateY(15px);
}

.burger.active div::before{
    transform: rotate(45deg) translate(35px, -35px) ;
}

.burger.active div::after{
    transform: rotate(-45deg) translate(35px, 35px) ;
}

.burger.active div {
    background-color: transparent;
    /*l'ajout de transparent sur backgroune ne retire maintenant que la barre centrale*/
    transform: translateX(-50px);
}
/*Fin style dynamique menu burger*/


/*Debut positionnement et style t Overley*/
#burgerOverlay{
    display: none;
    position : fixed;
    z-index: 10;
    top:0;
    right:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/*Fin positionnement et style t Overley*/


/*Debut positionnement et style Sidebar*/

#burgerSideBar{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100%;
    width: 75%;
    max-width: 350px;
    background-color: #516743;
    background: linear-gradient(#516743, 95%, #9fc08b);

    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}
#burgerSideBar ul{
    display: block;

}
#burgerSideBar-Header{
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/banniere_sidebar2.jpg");
}
#burgerSideBar-body li{
    padding: 8px 0 8px 5px;
    
}
#burgerSideBar-body{
    padding: 10px 5px;
    font-size: 1.6em;
    display: block;

}

.headerNav ul li a {
    text-decoration: none;
    color: white;
}



#titreArticle {
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-image: url("../img/alimentation.jpg");
    height: 500px;
    padding-left: 2em;
    padding-right: 2em;

}

h1 {
    color: white;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width:100%;

}
h2 {
    color: #806221;

}

.photo {
    width: 450px;
}

.container {
    display: block;
    text-align: center;
    overflow: hidden;
    padding-bottom: 2em;

}


main{
    margin: 2em;
}


@media screen and (max-width:1023px){
    .menuNav{
        display: none;
    }
    
    .burgerButtonLign, #burgerSideBar,
     .burgerActivated #burgerOverlay{
        display: block;
    }

    .burgerActivated #burgerSideBar{
        transform: translateX(0);
    }
    
    #titreArticle {
        height: 300px;
    }
    .photo {
        width: 300px;
    }


}

@media screen and (min-width:1024px){
    .burger{
        display: none;
    }
    /*Police headerNav*/
    .headerNav{
        font-size: 1.5em;
    }
    /*Police headerNav*/
    main{
        margin-left:7em;
        margin-right: 7em;
    }
  

}